{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InspiroQuotes - Home</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/home.css">
</head>
<body>
    <header>
        <div class="title-box">
            <h2>InspiroQuote</h2>
            <p>Share our collection of inspirational and famous quotes by authors you know and love.</p>
        </div>
        <nav class="home-nav">
            <ul>
                <li><a href="#empowering-moments">Empowering Moments</a></li>
                <li><a href="#discover-wisdom">Discover Wisdom</a></li>
                <li><a href="#influential-figures">Influential Figures</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#fetch-quotes">Fetch Quotes</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </nav>
        
    </header>


    <main>
        <section id="welcome" class="welcome">
            {% if g.user %}
            <!-- Display personalized welcome message for logged-in user -->
            <h2>Welcome, {{ g.user.first_name }}!</h2>
            {% else %}
            <!-- Display generic welcome message for non-logged-in user -->
            <h2>Welcome to InspiroQuotes</h2>
            {% endif %}
            <p>Discover the wisdom of ages, encapsulated in quotes that inspire, motivate, and provoke thought. Whether you're seeking solace, inspiration, or a new perspective, our curated collection awaits.</p>
        </section>

        <!-- First Landing Page Section  ha fin tzid dakchi dyalk-->
        <section id="empowering-moments" class="content-block section-with-image-right">
            <div class="text-content">
                <h2>Empowering Moments with Every Quote</h2>
                <p>Inspiroquote unlocks a world of inspiration with a convenient API that delivers impactful quotes from history's most influential minds directly to you. Forget navigating through cluttered databases or facing unnecessary registrations. Inspiroquote streamlines your access to wisdom, motivation, and the spark of inspiration you've been seeking.</p>
            </div>
            <div class="image-container">
                <img src="../static/images/picture.webp" alt="Description of Image" class="content-image">
            </div>
        </section>               
        <section id="discover-wisdom" class="content-block">
            <div class="row">
                <!-- Image Container on the left -->
                <div class="col-lg-6 image-container">
                    <img src="../static/images/pic2.webp" alt="Description of Image" class="content-image">
                </div>
                
                <!-- Text Content on the right -->
                <div class="col-lg-6 text-content">
                    <h2>Discover Wisdom Instantly</h2>
                    <p>Inspiroquote offers a streamlined API for accessing profound quotations from history's most impactful individuals in JSON format. Unlike many online quote databases that demand sign-ups or fall short in quality, Inspiroquote ensures effortless and enriching access to wisdom without the hassle.</p>
                </div>
            </div>
        </section>          
        <!-- 7add hna-->
        
        <section id="influential-figures" class="landing">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Influential Figures. Timeless Wisdom.</h2>
                        <p>inspiroquote.me features inspiration from the world's most important philosophers, inventors, scientists, religious figures, and leaders throughout history.</p>
                        <div class="counter">
                            <div class="counter-item">
                                <p class="counter-count">19</p>
                                <p class="employee-p">Categories</p>
                            </div>
                            <div class="counter-item">
                                <p class="counter-count">151</p>
                                <p class="customer-p">Authors</p>
                            </div>
                            <div class="counter-item">
                                <p class="counter-count">366</p>
                                <p class="design-p">Quotes</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex justify-content-end">
                        <img src="../static/images/filename.jpg" class="image">
                    </div>
                </div>
            </div>
        </section>
        
        <section id="features">
            <h2>Key Features</h2>
        
            <!-- Categories -->
            <div class="feature">
                <img src="../static/images/categories.webp" alt="Categories" class="feature-image">
                <h3><a href="/categories">Categories</a></h3>
                <p>Explore categories of quotes to find inspiration tailored to your interests.</p>
            </div>
        
            <!-- Authors -->
            <div class="feature">
                <img src="../static/images/authors.webp" alt="Authors" class="feature-image">
                <h3><a href="/authors">Authors</a></h3>
                <p>Discover quotes from a diverse range of influential authors and personalities.</p>
            </div>
        
            <!-- Quote of the Day -->
            <div class="feature">
                <img src="../static/images/quote_of_the_day.webp" alt="Quote of the Day" class="feature-image">
                <h3><a href="/quote_of_the_day">Quote of the Day</a></h3>
                <p>Get inspired with a new quote every day, handpicked to uplift and motivate.</p>
            </div>
        </section>

        <section id="fetch-quotes">
            <div class="fetch-quotes">
                <h3>Fetch Quotes</h3>
                <p>All you need to do is send a request to <code>https://inspiroquote.me/api/[mode]</code>, where:</p>
                <ul>
                    <li><code>[mode]</code> = retreval type <code>[catgory, author, daily_quote]</code></li>
                </ul>
                <h4>Sample Requests</h4>
                <ul>
                    <li>
                        <strong>All Quotes:</strong><br>
                        <strong>Endpoint:</strong> <a href="https://inspiroquote.me/api/v1/quotes" target="_blank">https://inspiroquote.me/api/v1/quotes</a><br>
                        <strong>Description:</strong> Retrieve a JSON representation containing all available quotes within the InspiroQuote database.
                    </li>
                    <li>
                        <strong>Quote of the Day:</strong><br>
                        <strong>Endpoint:</strong> <a href="https://inspiroquote.me/api/v1/daily_quote" target="_blank">https://inspiroquote.me/api/v1/daily_quote</a><br>
                        <strong>Description:</strong> Obtain the quote of the day in JSON format, dynamically updated to provide daily inspiration.
                    </li>
                    <li>
                        <strong>All Categories:</strong><br>
                        <strong>Endpoint:</strong> <a href="https://inspiroquote.me/api/v1/categories" target="_blank">https://inspiroquote.me/api/v1/categories</a><br>
                        <strong>Description:</strong> Access a JSON array listing all available categories for categorizing quotes within the InspiroQuote database.
                    </li>
                    <li>
                        <strong>Quotes by Category:</strong><br>
                        <strong>Endpoint:</strong> <code>https://inspiroquote.me/api/v1/categories/[id]/quotes</code><br>
                        <strong>Description:</strong> Retrieve a JSON array containing quotes filtered by a specific category identified by its unique ID.
                    </li>
                    <li>
                        <strong>All Authors:</strong><br>
                        <strong>Endpoint:</strong> <a href="https://inspiroquote.me/api/v1/authors" target="_blank">https://inspiroquote.me/api/v1/authors</a><br>
                        <strong>Description:</strong> Fetch a JSON array listing all authors contributing quotes within the InspiroQuote database.
                    </li>
                    <li>
                        <strong>Quotes by Author:</strong><br>
                        <strong>Endpoint:</strong> <code>https://inspiroquote.me/api/v1/authors/[id]/quotes</code><br>
                        <strong>Description:</strong> Retrieve a JSON array containing quotes authored by a specific individual identified by their unique ID.
                    </li>
                </ul>
                
                
            </div>
        </section>
        <section id="about" class="about">
            <h2>About InspiroQuote</h2>
            <p>InspiroQuotes was born out of a shared passion for words and inspiration among our team members. It all began with a simple idea: to create a platform where people could easily access and share inspirational quotes that resonate with them.</p>
            <p>As individuals, we've always been drawn to the power of words to uplift, motivate, and provoke thought. Whether it's a quote from a renowned philosopher, a famous author, or an influential leader, we believe that these snippets of wisdom have the potential to spark positive change in people's lives.</p>
            <p>Throughout the development process, we've poured our hearts and souls into crafting an experience that not only provides access to a vast collection of quotes but also fosters a sense of community and inspiration.</p>
            <p>This project is not just a requirement for ALXafrica; it's a labor of love and a testament to our dedication to spreading positivity and wisdom in the world.</p>
            <p>Explore InspiroQuotes today and join us in our mission to inspire, uplift, and empower!</p>
            
            <h3>Meet the Team</h3>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <ul>Member 1: Houcine Walaq
                        <li><a href="https://www.linkedin.com/in/houcine-walaq/">View - LinkedIn</a></li>
                        <li><a href="https://github.com/houcine200">View - GitHub</a></li>
                        <li><a href="https://twitter.com/pwnzor2">View - Twitter</a></li>
                        <!-- Add links for other team members similarly -->
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul>Member 2: Hamza El imali
                        <li><a href="https://www.linkedin.com/in/hamza-elimali/">View - LinkedIn</a></li>
                        <li><a href="https://github.com/Reallynoobcoder">View - GitHub</a></li>
                        <li><a href="https://twitter.com/elimali_hamza">View - Twitter</a></li>
                        <!-- Add links for other team members similarly -->
                    </ul>
                </div>
            </div>
            
            
            <h3>Project Repository</h3>
            <p>Explore the codebase on <a href="https://github.com/houcine200/InspiroQuote/">GitHub</a>.</p>
            
            <p>This project is a Portfolio Project for <a href="https://www.alxafrica.com/">alx</a>.</p>
        </section>
        
    </main>

    <footer>
        <p>Enjoying our website? Register with inspiroquote.me To stay updated on new features, enhancements, unlock exclusive capabilities
            and leave valuable feedback. Your insights help us improve our services for 
            you and others. <a href="https://inspiroquote.me/register">Sign up</a>
            today and share your thoughts!
        </p>
    </footer>
</body>
</html>
{% endblock %}
