{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InspiroQuotes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
</head>
<div class="container mt-5"> 
    <form action="/login" method="post" class="login-form">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" class="form-control" name="email" required> 
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" class="form-control" name="password" required>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Login"> 
        </div>
        {% if error %}
        <p class="error-message text-danger">{{ error }}</p>
        {% endif %}
    </form>
</div>
{% endblock %}
