{% extends "base.html" %}
{% block title %}Quote of the day Page{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote of the Day</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/quote_of_the_day.css') }}">
</head>
<body>
    
    <div id="quote-container">
        <h1>Quote of the Day</h1>
        <blockquote id="quote-text"></blockquote>
        <cite id="quote-author"></cite>
    </div>

    <script src="{{ url_for('static', filename='scripts/quote_of_the_day.js') }}"></script>
</body>
</html>
{% endblock %}