{% extends "base.html" %}
{% block title %}Reviews Page{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/reviews.css') }}">
    <title>User Reviews</title>
</head>
<body>
    <main>
        <section>
            {% if g.user %}
            <h2>Welcome, {{ g.user.first_name }}!</h2>
            {% else %}
            <h2>Welcome to User Reviews</h2>
            {% endif %}
            <p>Explore reviews from users and share your thoughts with the community.</p>
        </section>
    </main>
    
    <hr>
    
    {% if reviews_by_user %}
        <div class="comment-section">
            {% for user, reviews in reviews_by_user.items() %}
                <div class="user-comments">
                    <ul>
                        {% for review in reviews %}
                        <h3>{{ user }}</h3>
                            <div>{{ review.text }}</div>
                            <hr>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No comments available.</p>
    {% endif %}

    
    <br>
    
    {% if g.user %}
    <h2>Add a Review</h2>
    <form action="/reviews" method="POST">
        <textarea name="text" rows="3" cols="50" placeholder="Enter your review here"></textarea><br>
        <input type="submit" value="Submit Review">
    </form>
    {% else %}
    <p>Please log in to add a review.</p>
    {% endif %}
</body>
</html>
{% endblock %}