body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right top, #e9ecef, #dae0e5, #c8d1db, #b9c2d1, #abc4c8, #c1a2f3, #b58ff2, rgb(173, 123, 244), #7d34f3, #7a30f2, #7a30f1, #6610f2);
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    background-attachment: fixed;
}

header {
    background-image: url('../images/Inspiroquote-cover.webp');
    background-size: cover;
    text-align: center;
    color: black;
    padding-top: 20px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5), -4px -4px 8px rgba(255, 255, 255, 0.5);
    height: 700px; /* Adjust the height as needed */
}
.title-box {
    height: 110px;
    margin-top: 165px;
    background: linear-gradient(to right top, #e9ecef, #dae0e5, #c8d1db, #b9c2d1, #abc4c8, #c1a2f3, #b58ff2, rgb(173, 123, 244), #7d34f3, #7a30f2, #7a30f1, #6610f2);
    width : 400px;
    margin-left: 400px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #4c51bf;
    padding-top: 50px;
}

header p {
    text-align: center;
    margin: 20px auto;
    max-width: 800px; /* Control the width of the header text */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px; /* Adjust as needed */
}

section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    /* Adjust based on the content width */
    margin-bottom: 20px; /* Space between sections if you add more */
}

section h2, section p {
    text-align: center;
}

footer {
    margin-top: 40px; /* Ensure there's space between the content and the footer */
    text-align: center;
    padding: 20px;
}

footer p {
    color: #2A2A72; /* Matches the navbar color */
}

footer a {
    color: #6610f2; /* A vibrant color for links */
    text-decoration: none; /* Optional: removes underline from links */
}

footer a:hover {
    text-decoration: underline; /* Optional: adds an underline on hover for clarity */
}

nav {
    margin-top: 12px;
    background-color: transparent;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    background-color: #fafafa;
    padding: 10px; 
    border-radius: 8px; 
    border-left: 5px solid #4c51bf;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.image {
    width: 100%; /* Set the maximum width of the image to 100% of its container */
    height: auto; /* Maintain the aspect ratio of the image */
    display: block; /* Ensure the image is displayed as a block element */
    margin: 0 auto; /* Center the image horizontally */
    text-align: right;  
}

.counter {
    display: flex;
    flex-direction: column;
}

.counter-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Increased margin for more space */
    margin-left: 20px;
}

.counter-count {
    width: 75px; /* Adjust as needed */
    height: 75px; /* Adjust as needed */
    border-radius: 50%; /* Ensures circular shape */
    background-color: #007bff; /* Change this color as needed */
    color: #fff;
    font-size: 16px; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; /* Adjust as needed */
}

.content-block {
    width: 48%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #ffffff;
}

.content-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.section-with-image-right {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjusts the space distribution */
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #4c51bf;
}

.section-with-image-right .image-container {
    flex: 1;
    display: flex;
    justify-content: flex-end; /* Aligns the image to the right */
}

.section-with-image-right .content-image {
    max-width: 100%; /* Adjust the size as needed */
    height: auto;
    width: 100%;
    margin-left: 20px;
}

.section-with-image-right .text-content {
    flex: 2;
}

.content-block {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #4c51bf;
    background-color: gray;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    border: none;

}

.section-with-image-left .image-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.section-with-image-left .content-image {
    max-width: 100%; 
    height: auto;
    width: 100%;
    margin-left: 20px;
}

.section-with-image-left .text-content {
    flex: 2;
}

@media (max-width: 768px) {
    .section-with-image-left, .section-with-image-right {
        flex-direction: column; /* Stack image and text vertically on small screens */
    }

    .section-with-image-left .content-image, 
    .section-with-image-right .content-image {
        max-width: 100%; /* Full width of the container */
        margin: 0 auto 20px; /* Center align and add space below the image */
    }
}

/* Existing styles for .section-with-image-right */
.section-with-image-right {
    display: flex;
    align-items: center;
}

.section-with-image-right .text-content,
.section-with-image-right .image-container {
    flex: 1;
}

.section-with-image-right .image-container {
    order: 2; /* Pushes the image to the right */
    padding-left: 20px; /* Adds some space between the text and the image */
}

.left {
    margin-right: auto;
    margin-left: 0;
}

.right {
    margin-left: auto;
    margin-right: 0;
}



.landing {
    background-color: gray;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    border: none;
}


