body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right top, #e9ecef, #dae0e5, #c8d1db, #b9c2d1, #abc4c8, #c1a2f3, #b58ff2, rgb(173, 123, 244), #7d34f3, #7a30f2, #7a30f1, #6610f2);
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    background-attachment: fixed;
}

header {
    background-image: url('../images/Inspiroquote-cover.webp');
    background-size: cover;
    text-align: center;
    color: black;
    padding-top: 20px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5), -4px -4px 8px rgba(255, 255, 255, 0.5);
    height: 700px;
}
.title-box {
    height: 110px;
    margin-top: 165px;
    background: linear-gradient(to right top, #e9ecef, #dae0e5, #c8d1db, #b9c2d1, #abc4c8, #c1a2f3, #b58ff2, rgb(173, 123, 244), #7d34f3, #7a30f2, #7a30f1, #6610f2);
    width : 400px;
    margin-left: 400px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #4c51bf;
    padding-top: 50px;
}

header p {
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    margin-bottom: 20px;
}

section h2, section p {
    text-align: center;
}

footer {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
}

footer p {
    color: #2A2A72;
}

footer a {
    color: #6610f2;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

nav {
    margin-top: 12px;
    background-color: transparent;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    background-color: #fafafa;
    padding: 10px; 
    border-radius: 8px; 
    border-left: 5px solid #4c51bf;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: right;  
}

.counter {
    display: flex;
    flex-direction: column;
}

.counter-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
}

.counter-count {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}


.content-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.section-with-image-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #4c51bf;
}

.section-with-image-right .image-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.section-with-image-right .content-image {
    max-width: 100%;
    height: auto;
    width: 100%;
    margin-left: 20px;
}

.section-with-image-right .text-content {
    flex: 2;
}

.content-block {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 0;
    box-shadow: none;
    background-color: transparent; 
    border: none;
}

.section-with-image-left .image-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.section-with-image-left .content-image {
    max-width: 100%; 
    height: auto;
    width: 100%;
    margin-left: 20px;
}

.section-with-image-left .text-content {
    flex: 2;
}

@media (max-width: 768px) {
    .section-with-image-left, .section-with-image-right {
        flex-direction: column;
    }

    .section-with-image-left .content-image, 
    .section-with-image-right .content-image {
        max-width: 100%;
        margin: 0 auto 20px;
    }
}

.section-with-image-right {
    display: flex;
    align-items: center;
}

.section-with-image-right .text-content,
.section-with-image-right .image-container {
    flex: 1;
}

.section-with-image-right .image-container {
    order: 2;
    padding-left: 20px;
}

.left {
    margin-right: auto;
    margin-left: 0;
}

.right {
    margin-left: auto;
    margin-right: 0;
}



.landing {
    background-color: gray;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    border: none;
}

#features {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(to right top, #e9ecef, #dae0e5, #c8d1db, #b9c2d1, #abc4c8, #a1c3c8, #93c2c9, rgb(218, 215, 222), #7dbdc7, #71c0cd, #6dcad8, #62cada);
}

#fetch-quotes {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(to right top, #e9ecef, #dae0e5, #c8d1db, #b9c2d1, #abc4c8, #a1c3c8, #93c2c9, rgb(218, 215, 222), #7dbdc7, #71c0cd, #6dcad8, #62cada);
}

#about {
    background: linear-gradient(to right top, #e9ecef, #dae0e5, #c8d1db, #b9c2d1, #abc4c8, #a1c3c8, #93c2c9, rgb(218, 215, 222), #7dbdc7, #71c0cd, #6dcad8, #62cada);
}

#welcome {
    background: linear-gradient(to right top, #e9ecef, #dae0e5, #c8d1db, #b9c2d1, #abc4c8, #a1c3c8, #93c2c9, rgb(218, 215, 222), #7dbdc7, #71c0cd, #6dcad8, #62cada);
}

.feature {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.feature-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.feature h3 {
    color: #4c51bf;
}

.feature p {
    text-align: left;
}
