body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right top, #e9ecef, #dae0e5, #c8d1db, #b9c2d1, #abc4c8, #c1a2f3, #b58ff2, rgb(173, 123, 244), #7d34f3, #7a30f2, #7a30f1, #6610f2);
    padding: 20px;
    min-height: 100vh;
    background-attachment: fixed;
    color: #333;
}

.container {
    background-color: #ffffff; 
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    margin: 40px auto;
    background-image: url('../images/back_quote.webp'); 
    background-size: cover; 
    background-position: center; 
}

h1, h2 {
    text-align: center;
    color: #4c51bf;
}

p {
    text-align: justify;
    margin-bottom: 20px;
}

#category-select, button {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 50%;
    border-radius: 8px;
    border: 2px solid #ced4da;
    background-color: #f8f9fa;
    color: #495057;
}

button {
    background-color: #4c51bf;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

#categories-list, #quotes-list {
    list-style-type: none;
    padding: 0;
}

#categories-list li, #quotes-list li {
    background-color: #f8f9fa;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    border-left: 5px solid #4c51bf;
}

nav {
    background-color: #2A2A72;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    background-color: #fafafa;
    padding: 10px; 
    border-radius: 8px; 
    border-left: 5px solid #4c51bf;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}